<section class="base">
    <div class="container">
        <h1>Now the last thing, your interests?</h1>
        <p>Start typing and press Enter to save and click it to remove</p>
        <div class="row">
            <div class="col s8">
                <div class="row form">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <input id="skill" type="text" class="validate" (keydown.enter)="onEnter($event.target.value)" (keyup.enter)="$event.target.value = ''">
                                <label for="skill">My Interest</label>
                            </div>
                        </div>
                        <div class="row">
                            <!-- list here -->
                            <div class="col s6 offset-s3">
                                <div style="margin-top:-20px;overflow:auto;max-height:500px" class="collection scrollbar" *ngIf="interests.length">
                                    <a class="collection-item" *ngFor='let interest of interests;let id=index' (click)="removeMe(id)">{{ interest | titlecase }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="preview">
                    <app-preview-template></app-preview-template>
                </div>
                <div class="preview-button">
                    <button mz-button (click)="bottomSheetModal.openModal()" type="button" name="action">Preview
                        <i class="material-icons left">remove_red_eye</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="navigation-back">
    <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/resume','languages']"><i class="material-icons">arrow_back</i></a>
</div>

<div class="navigation-next">
    <button class="waves-effect pulse btn-large green" (click)="nextRoute()"><i class="material-icons right">arrow_forward</i>Done</button>
</div>

<!-- template -->
<mz-modal #bottomSheetModal [bottomSheet]="true" [fullscreen]=true style="background-color:white">
    <mz-modal-header>
        <button mz-button [flat]="true" mz-modal-close style="position: fixed;top:0;right:0;cursor:pointer;margin:20px 50px;">
            <i class="material-icons">close</i>
        </button>
    </mz-modal-header>
    <mz-modal-content>
        <app-template></app-template>
    </mz-modal-content>
</mz-modal>