.background{
    height:100vh;
    width:100%;
    overflow:hidden;
    background-color: #b71c1c; 
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 1px;
}

p{
    text-align:center;
    font-size:80px;
    font-weight:800;
    font-family:sans-serif;
}