.resumes {
    padding: 50px 0;
}

.resumes h1 {
    padding: 0;
    margin: 0 50px;
    font-size: 28px;
    color: black;
    margin-bottom: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    /* border-bottom: 3px solid black; */
}


/* resume templates */

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
    position: relative;
}

.template-container {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    /* height: 400px; */
    margin: 50px 40px;
}

.overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    width: 100%;
    height: 100%;
}

.overlay .controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.overlay .controls .text {
    display: inline-block;
    float: left
}

.overlay .controls .button {
    float: right;
}

.overlay .controls .button a {
    display: block;
}

.overlay .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.overlay .buttons .links {
    padding: 20px 0;
    padding-right: 15px;
}

.overlay .buttons .links a {
    display: block;
    margin-top: 10px;
}

.overlay .delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.template {
    width: 100%;
    height: 100%;
}


/* expand */

.load {
    border-bottom: 1px solid #b7b7b7;
}

.load .less {
    float: left;
    margin-left: 80px;
    font-size: 35px;
    cursor: pointer;
}

.load .more {
    float: right;
    margin-right: 80px;
    font-size: 35px;
    cursor: pointer;
}