<div class="resumes">
    <h1>My Resumes</h1>
    <!-- resume templates -->
    <div class="saved-resumes">
        <div class="row">
            <div class="template-container">
                <app-preview-template class="template"></app-preview-template>
                <div class="overlay">
                    <div class="controls">
                        <div class="text">Modified on: <br> Yesterday 01:20</div>
                    </div>
                    <!-- <div class="delete">
                        <a class="btn-floating red"><i class="material-icons">delete</i></a>
                    </div> -->
                    <div class="buttons">
                        <div class="links">
                            <a class="btn-floating teal"><i class="material-icons">create</i></a>
                            <a class="btn-floating red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="load">
        <!-- <i class="material-icons less">expand_less</i>
        <i class="material-icons more">expand_more</i> -->
    </div>
</div>