.functional .row {
    padding: 0;
    margin: 0;
    border: 0;
}

.functional .resume {
    max-width: 1190px;
    max-height: 1644px;
    /* margin: 50px auto; */
    padding: 44px 0;
    margin: 0 auto;
    background: white;
}


/* pesonal details part 1 */

.functional .personal-details {
    padding: 0 0 0 50px;
    margin-bottom: 54px;
    /* border: 1px solid red; */
    background: white;
}

.functional .personal-details .image {
    width: 166px;
    height: 166px;
    border-radius: 200%;
    border: 1px solid #b7b7b7;
    padding: 10px;
}

.functional .personal-details .image img {
    height: 100%;
    width: 100%;
    border-radius: 200%;
}

.functional .personal-details .details * {
    padding: 0;
    margin: 0;
    border: 0;
    padding: 5px 0;
}

.functional .personal-details .details {
    padding: 18px 24px 22px;
    background-color: #479099;
    color: white;
}

.functional .personal-details .details h1 {
    font-size: 46px;
    font-weight: 600;
}

.functional .personal-details .details h3 {
    font-size: 24px;
    font-weight: 400;
}

.functional .personal-details .seperator {
    background-color: white;
    height: 2px;
    width: 300px;
    border: 0;
    padding: 0 !important;
}

.functional .personal-details .details p {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 400;
}


/* details left  part 2*/


/* contact details  left part 1*/

.functional .contact-details * {
    padding: 0;
    margin: 0;
    border: 0;
}

.functional .contact-details {
    margin: 4px 0 10px 50px;
    padding: 0 0 14px;
    font-size: 16px;
    color: #479099;
}

.functional .contact-details p {
    color: black;
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
}

.functional .contact-details div {
    padding: 10px 0;
}

.functional .contact-details i {
    font-size: 2em;
}


/* skills interests languages left */

.skills *,
.languages *,
.functional .interests * {
    padding: 0;
    margin: 0;
    border: 0;
}

.skills,
.languages,
.functional .interests {
    margin: 0 0 32px 50px;
    padding: 0 0 10px;
}

.skills h1,
.functional .languages h1 {
    font-size: 28px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid #479099;
}

.skills .skills_list,
.functional .interests .interests_list {
    padding: 10px 0 0 0;
    margin-left: -15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.functional .skills .skills_list .skill {
    padding: 3px 10px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    background-color: #479099;
    margin: 4px 5px;
}

.functional .interests h1 {
    font-size: 28px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid #479099;
}

.functional .interests .interests_list .interest {
    padding: 3px 10px;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    margin: 4px 5px;
    border: 2px solid #b2b2b2;
}

.functional .languages .languages_list {
    margin-left: -15px;
    padding: 20px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.functional .languages .language p {
    width: 40%;
    display: inline;
    padding: 0 10px;
}

.functional .languages .language .progress {
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 60%;
    display: inline-block;
    margin-left: 0px;
    padding-bottom: 10px;
    border-radius: 0;
}


/* details-right */

.functional .base * {
    padding: 0;
    margin: 0;
    border: 0;
}

.functional .base {
    margin: 0 0 32px 50px;
    padding: 0 20px 10px;
}

.functional .base>h1 {
    font-size: 28px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid #479099;
}


/* work */

.functional .work-experience .work {
    padding: 15px 0 10px 15px;
}

.functional .work-experience .work h1 {
    font-size: 24px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 5px;
}

.functional .work-experience .work h3 {
    font-size: 22px;
    color: black;
    font-weight: 700;
    padding-bottom: 5px;
}

.functional .work-experience .work span {
    font-size: 16px;
    color: #479099;
    line-height: 18px;
    font-style: italic;
    padding-right: 5px;
    padding-top: 5px;
}

.functional .work-experience .work p {
    color: #7c7c7c;
    font-size: 16px;
    padding-top: 5px;
}


/* school */

.functional .education .school {
    padding: 15px 0 10px 15px;
}

.functional .education .school h1 {
    font-size: 24px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 5px;
}

.functional .education .school h3 {
    font-size: 22px;
    color: black;
    font-weight: 700;
    padding-bottom: 5px;
}

.functional .education .school span {
    font-size: 16px;
    color: #479099;
    line-height: 18px;
    font-style: italic;
    padding-right: 5px;
    padding-top: 5px;
}


/* projects */

.functional .projects .project {
    padding: 15px 0 10px 15px;
}

.functional .projects .project h1 {
    font-size: 24px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 5px;
}

.functional .projects .project h3 {
    font-size: 22px;
    color: black;
    font-weight: 700;
    padding-bottom: 5px;
}

.functional .projects .project p.date {
    font-size: 16px;
    color: #479099;
    line-height: 18px;
    font-style: italic;
    padding-right: 5px;
    padding-top: 5px;
}

.functional .projects .project p.desc {
    color: #7c7c7c;
    font-size: 16px;
    padding-top: 5px;
}