<section class="functional">
    <div class="container resume z-depth-3">
        <div class="row personal-details">
            <div class="col s3">
                <div class="image">
                    <img alt="image" src='./96700dd16f0f08e0063fe3c9e909db27.jpg'>
                </div>
            </div>
            <div class="col s9" style="padding:0;">
                <div class="details" style='background-color:red'>
                    <h1>John Doe</h1>
                    <h3>Professional Title</h3>
                    <div class="seperator"></div>
                    <p>Short and engaging pitch about yourself.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s3">
                <div class="row">
                    <div class="contact-details">
                        <div class="email">
                            <i class="material-icons" style="color:red;">email</i><br>
                            <p>manishtanwar4206@gmail.com</p>
                        </div>
                        <div class="phone">
                            <i class="material-icons" style="color:red;">call</i><br>
                            <p>+3124568798</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="skills">
                        <h1 style="color:red;border-color:red;">SKILLS</h1>
                        <div class="skills_list">
                            <div class="skill" style="background-color:red;">C++</div>
                            <div class="skill" style="background-color:red;">Java</div>
                            <div class="skill" style="background-color:red;">Python</div>
                            <div class="skill" style="background-color:red;">Angular</div>
                            <div class="skill" style="background-color:red;">C++</div>
                            <div class="skill" style="background-color:red;">Java</div>
                            <div class="skill" style="background-color:red;">Python</div>
                            <div class="skill" style="background-color:red;">Angular</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="languages">
                        <h1 style="color:red;border-color:red;">Languages</h1>
                        <div class="languages_list striped">
                            <div class="language">
                                <p>English</p>
                                <div class="progress">
                                    <div class="determinate " style="background:red; width:70%;"></div>
                                </div>
                            </div>
                            <div class="language ">
                                <p>Hindi</p>
                                <div class="progress ">
                                    <div class="determinate" style="background:red; width: 100%"></div>
                                </div>
                            </div>
                            <div class="language">
                                <p>Punjabi</p>
                                <div class="progress">
                                    <div class="determinate" style="background:red; width: 20%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="interests ">
                        <h1 style="color:red;border-color:red; ">Interests</h1>
                        <div class="interests_list ">
                            <div class="interest" style="color:red">Java</div>
                            <div class="interest" style="color:red">python</div>
                            <div class="interest" style="color:red">Java</div>
                            <div class="interest" style="color:red">python</div>
                            <div class="interest" style="color:red">Java</div>
                            <div class="interest" style="color:red">python</div>
                            <div class="interest" style="color:red">Java</div>
                            <div class="interest" style="color:red">python</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s9 ">
                <div class="row ">
                    <div class="base work-experience ">
                        <h1 style="color:red; border-color:red;">Work Experience</h1>
                        <div class="work ">
                            <h1 style="color:red;">Title/Position</h1>
                            <h3>Workplace/Company</h3>
                            <span style=" color:red; ">Start Date</span>
                            <span style="color:red; ">-</span>
                            <span style="color:red; ">End Date</span>
                            <p>Short Description about your job</p>
                        </div>
                        <div class="work ">
                            <h1 style="color:red; border-color:red; ">Title/Position</h1>
                            <h3>Workplace/Company</h3>
                            <span style="color:red; ">Start Date</span>
                            <span style="color:red; ">-</span>
                            <span style="color:red; ">End Date</span>
                            <p>Short Description about your job</p>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="base education ">
                        <h1 style="color:red; border-color:red; ">Education</h1>
                        <div class="list ">
                            <div class="school ">
                                <h1 style="color:red; ">Study Program</h1>
                                <h3>Institution/Place of Education</h3>
                                <span style="color:red; ">Graduation Year</span>
                            </div>
                            <div class="school ">
                                <h1 style="color:red; ">Study Program</h1>
                                <h3>Institution/Place of Education</h3>
                                <span style="color:red; ">Graduation Year</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="base personal-projects ">
                        <h1 style="color:red; border-color:red; ">Personal Projects</h1>
                        <div class="projects ">
                            <div class="project ">
                                <h1 style="color:red; ">Project Name</h1>
                                <p style="color:red; " class="date ">start_date - end_date</p>
                                <p class="desc ">Description</p>
                            </div>
                            <div class="project ">
                                <h1 style="color:red; ">Project Name</h1>
                                <p style="color:red; " class="date ">start_date - end_date</p>
                                <p class="desc ">Description</p>
                            </div>
                            <div class="project ">
                                <h1 style="color:red; ">Project Name</h1>
                                <p style="color:red; " class="date ">start_date - end_date</p>
                                <p class="desc ">Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>