<mz-modal [fixedFooter]="true">
    <mz-modal-header>
        <h4 class="title">Share resume with others</h4>
    </mz-modal-header>
    <mz-modal-content>
        <!-- form starts -->
        <div class="form">
            <form [formGroup]="shareForm" (ngSubmit)="addPerson()">
                <div class="row">
                    <div class="input-field col s8 email">
                        <input id="email" type="email" class="validate" formControlName='email'>
                        <label class="active" for="email">Email Address</label>
                    </div>
                    <div class="input-field col s4 button">
                        <button class="btn waves-effect btn-large" type="submit" name="action" [disabled]="!shareForm.valid">Share
                            <i class="material-icons right">add</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- form ends -->
        <!-- shared with -->
        <ul class="collection people" *ngIf="!loadingStatus">
            <li class="collection-item" *ngFor="let person of people;let i=index">
                <div>{{ person?.email }}<a class="secondary-content"><i class="material-icons" (click)="removeMe(person,i)">close</i></a></div>
            </li>
        </ul>
        <div class="loader" *ngIf="loadingStatus">
            <app-loader></app-loader>
        </div>
        <!-- shared with ends -->
    </mz-modal-content>
    <mz-modal-footer>
        <!-- <button mz-button  mz-modal-close>Disagree</button> -->
        <button class="btn waves-effect green" mz-button mz-modal-close>Done</button>
    </mz-modal-footer>
</mz-modal>