<mz-modal [fixedFooter]="true">
    <mz-modal-header>
        <h4 class="title">Share resume with others</h4>
    </mz-modal-header>
    <mz-modal-content>
        <!-- form starts -->
        <div class="form">
            <div class="row">
                <div class="input-field col s8 email">
                    <input id="email" type="email" class="validate">
                    <label class="active" for="email">Email Address</label>
                </div>
                <div class="input-field col s4 button">
                    <button class="btn waves-effect btn-large" type="submit" name="action">Share
                        <i class="material-icons right">add</i>
                    </button>
                </div>
            </div>
        </div>
        <!-- form ends -->
        <!-- shared with -->
        <ul class="collection people">
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a class="secondary-content"><i class="material-icons">close</i></a></div>
            </li>
        </ul>
        <!-- shared with ends -->
    </mz-modal-content>
    <mz-modal-footer>
        <!-- <button mz-button  mz-modal-close>Disagree</button> -->
        <button class="btn waves-effect green" mz-button mz-modal-close>Done</button>
    </mz-modal-footer>
</mz-modal>