<div>
    <!-- head -->
    <div class="parrallex">
    </div>
    <section class="head z-depth-5">
        <h1>The Online Resume Builder You Deserve</h1>
        <p>
            Creating a Professional Resume and Cover Letter Has<br> Never Been<b> So Easy</b>
        </p>
        <button class="btn" (click)="onSubmit()">Get Started for Free</button>

    </section>

    <!-- example templates -->
    <section class="cards">
        <p>Making a resume is the first step of any job search. Not sure how to make a resume? Our online resume builder gives you free resume templates to follow.</p>
        <div class="row">
            <div class="col s12 m12 l12 xl4">
                <img src="https://d.novoresume.com/images/hmx/td-1.png">
            </div>
            <div class="col s12 m12 l12 xl4">
                <img src="https://d.novoresume.com/images/hmx/td-2.png">
            </div>
            <div class="col s12 m12 l12 xl4">
                <img src="https://d.novoresume.com/images/hmx/td-4.png">
            </div>
        </div>
    </section>
    <div class="try-template">
        <div class="overlay">
            <button class="btn z-depth-5" (click)="onSubmit()">Get My Free templates</button>
        </div>
    </div>
    <section class="container benefits">
        <h3>Benefits of using a resume builder</h3>
        <div class="row">
            <div class="col s6">
                <i class="material-icons">dashboard</i>
                <h4>A Resume Layout That Stands Out</h4>
                <hr>
                <p>A creative, professional layout can grab a recruiter's attention. Our resume layout optimizer makes sure all your content is aligned and organized so your resume looks like a work of art.</p>
            </div>
            <div class="col s6">
                <i class="material-icons">trending_up</i>
                <h4>Live Feedback to Improve Your Content</h4>
                <hr>
                <p>If you aren't sure how to write a resume, don't worry. Our content optimizer analyzes your resume and gives you suggested revisions to increase the quality of your content</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <i class="material-icons">transform</i>
                <h4>Templates Suited to Your Exact Needs</h4>
                <hr>
                <p>Let our free resume templates and cover letter templates do the work for you. Choose from a selection of recruiter-approved layout designs for different job types.</p>
            </div>
            <div class="col s6">
                <i class="material-icons">touch_app</i>
                <h4>Free Cover Letter and Resume Samples</h4>
                <hr>
                <p>Not only do you get to build your resume for free, you also get access to successful resume samples and cover letter examples that you can use for guidance.</p>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>