@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

/* head */

.parrallex {
    background: url('../../assets/home/home_p.png');
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    /* height: 100vh; */
}

.head {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

.head h1 {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.head p {
    max-width: 48em;
    margin: 0 auto 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn {
    text-transform: inherit;
    background-color: #1DBFAF;
    height: 50px;
}

.btn:hover {
    background-color: white;
    color: #1DBFAF;
    border: solid 1px #1DBFAF;
}


/* cards */

.cards {
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(to right, #303D46, #1DBFAF);
    color: white;
}

.row {
    margin-bottom: 50px;
    width: 90%;
}

img {
    width: 350px;
    height: 500px;
}

.cards p {
    width: 35%;
    margin: 50px auto;
    margin-bottom: 80px;
    line-height: 1.4em;
    font-size: 21px;
}

.col {
    margin: 20px 0;
}


/* try template */

.try-template {
    height: 200px;
    background: url('../../assets/home/home_p.png');
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits {
    padding: 50px 0 55px;
    font-family: 'Cabin', sans-serif;
}

.benefits .col {
    padding: 0 30px;
}

.benefits h3 {
    font-size: 30px;
    font-weight: 800;
    color: #303D46;
    letter-spacing: 1px;
}

.benefits i {
    font-size: 5em;
    color: #1DBFAF;
}

.benefits h4 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    /* text-align: center; */
}

.benefits hr {
    width: 100px;
    margin: 0;
    height: 5px;
    background-color: #1DBFAF;
    border: 0;
}

.benefits p {
    font-size: 21px;
    padding: 0 30px;
}