@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

/* head */

.head {
    text-align: center;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

.head h1 {
    margin: 0;
    margin-bottom: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.head p {
    max-width: 48em;
    margin: 0 auto 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn {
    text-transform: inherit;
    background-color: #1DBFAF;
    height: 50px;
}

.btn:hover {
    background-color: white;
    color: #1DBFAF;
    border: solid 1px #1DBFAF;
}

.cards {
    padding: 20px;
    text-align: center;
    background-color: #1DBFAF;
    height: 550px;
    color: white;
}

img {
    height: 300px;
    width: 250px;
}

.get {
    text-transform: inherit;
    background-color: white;
    color: #1dbfaf;
    border-radius: 5px;
}

.get:hover {
    background-color: #1DBFAF;
    color: white;
    border: solid 1px white;
    cursor: pointer;
}

.benefits {
    background-color: #f4f4f4;
    height: 500px;
}