@import url('https://fonts.googleapis.com/css?family=Asap|Roboto+Slab&display=swap');
:host {
    position: sticky;
    display: block;
    top: 0;
    z-index: 1000;
}

.template-filters .filters {
    position: relative;
    font-family: Asap, 'sans-serif';
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
    z-index: 1000;
    padding: 15px 0;
    padding-top: 20px;
}


/* filters */

.filters .filter_colors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters .filter_colors .filter {
    width: 60px;
    height: 45px;
    background-color: red;
    margin: 0 10px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 5px solid red;
}

.filter_colors .filter:hover {
    outline: 2px solid teal;
    outline-offset: 3px;
}

.filter_colors .filter i {
    font-size: 30px;
    font-weight: 800;
}


/* font */

.fonts {
    width: 200px;
    margin-left: 20px;
}