<div class="container template-filters">
    <div class="filters z-depth-3 ">
        <div class="filter_colors">
            <section *ngFor="let filter of filters_list;let i=index">
                <div class="filter" [ngStyle]='{ "background-color" : filter?.heading, "border-color":filter?.subheading }' (click)="setActive(i)">
                    <!-- <div class="subfilter" [ngStyle]='{ "background-color" : filter?.subheading }'></div> -->
                    <i class="material-icons" *ngIf="activeFilter==i" [ngStyle]="{'color':filter?.title}">check</i>
                </div>
            </section>
            <div class="fonts" *ngIf="flag">
                <mz-select-container>
                    <select mz-select id="options-select" [label]="'Fonts'" [placeholder]="'Fonts'" (change)="setFont($event.target.value)">
                                <option *ngFor="let font of font_list" [value]='font' [selected]='font==currentFont'>{{ font|titlecase}}</option>
                    </select>
                </mz-select-container>
            </div>
        </div>
    </div>
</div>