h1,
h3,
p,
span,
div,
a,
i,
section {
    padding: 0;
    margin: 0;
    border: 0;
}

.download_button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 7.563px 12.605px;
    z-index: 100;
}

.functional {
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    /* padding: 12.605px 0; */
    position: relative;
}

.resume {
    max-width: 300.0px;
    min-height: 400px;
    margin: 0 auto;
    background-color: white;
    /* border: 0.252px solid #b7b7b7; */
}


/* basic_information */

.basic_information {
    padding-top: 11.092px;
    margin-bottom: 7.563px;
    background: #334458;
    position: relative;
}

.basic_information .heading {
    padding: 0 12.605px;
    margin-left: 8.571px;
    min-height: 40.336px;
}

.basic_information .heading h1 {
    color: #fff;
    font-size: 11.597px;
    line-height: 12.101px;
}

.basic_information .heading h3 {
    color: #4f90cd;
    font-size: 6.05px;
    line-height: 6.555px;
    padding-top: 1.513px;
}

.basic_information .heading p {
    color: #fff;
    font-size: 4.538px;
    line-height: 5.546px;
    margin-top: 5.546px;
}

.basic_information .contact_details {
    background-color: #2B343F;
    text-align: center;
    padding: 5.546px 12.605px;
    padding-bottom: 4.034px;
}

.basic_information .contact_details a {
    color: white;
    padding-right: 8.571px;
    font-size: 4.538px;
}

.basic_information .contact_details img {
    width: 7.059px;
    height: 7.059px;
    position: relative;
    top: 1.513px;
    margin-right: 2.521px;
}


/* body */

.base {
    background: white;
    padding: 2.521px 9.076px 2.521px 12.605px;
    margin-bottom: 8.571px;
    position: relative;
    /* border: 0.252px solid white; */
}

.base h1 {
    color: #4f90cd;
    font-weight: 800;
    display: inline-block;
    font-size: 6.555px;
    padding-bottom: 1.008px;
    border-bottom: 1.008px solid #4f90cd;
    margin-bottom: 3.529px;
}

.base .entry {
    padding-bottom: 2.521px;
}

.base .entry * {
    font-weight: 0;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

.base .entry h1 {
    font-size: 6.05px;
    line-height: 6.555px;
    color: #000;
    font-weight: 700;
}

.base .entry h3 {
    font-size: 5.546px;
    line-height: 6.05px;
    color: #000;
}

.base .entry span {
    display: inline-block;
    font-size: 4.034px;
    margin-top: 1.261px;
    font-style: italic;
    color: #4f90cd;
}

.base .entry p {
    font-size: 4.034px;
    color: #7c7c7c;
    text-align: left;
}


/* interests */

.list {
    padding: 2.521px 6.303px;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.list .entry {
    padding: 1.513px 3.529px;
    margin-right: 2.521px;
    margin-bottom: 3.529px;
    font-size: 4.538px;
    border-radius: 1.513px;
}

.interest {
    background: white;
    border: 0.504px solid #b7b7b7;
}

.skill {
    background: #4f90cd;
    color: white;
}


/* languages */

.languages {
    padding-top: 3.782px;
}

.languages .language {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.261px;
    margin-bottom: 3.782px;
    border-bottom: 0.252px solid #b7b7b7;
}

.languages .language p {
    font-size: 4.538px;
    width: 50%;
}

.languages .language .progress {
    width: 50%;
    height: 1.261px;
    padding: 0;
}