.functional .row {
    padding: 0;
    margin: 0;
    border: 0;
}

.functional .resume {
    width: 300.0px;
    height: 414.454px;
    /* margin: 12.605px auto; */
    padding: 11.092px 0;
}


/* pesonal details part 1 */

.functional .personal-details {
    padding: 0 0 0 12.605px;
    margin-bottom: 13.613px;
}

.functional .personal-details .image {
    width: 41.849px;
    height: 41.849px;
    border-radius: 200%;
    border: 0.252px solid #b7b7b7;
    padding: 2.521px;
}

.functional .personal-details .image img {
    height: 100%;
    width: 100%;
    border-radius: 200%;
}

.functional .personal-details .details * {
    padding: 0;
    margin: 0;
    border: 0;
    padding: 1.261px 0;
}

.functional .personal-details .details {
    padding: 4.538px 6.05px 5.546px;
    background-color: #479099;
    color: white;
}

.functional .personal-details .details h1 {
    font-size: 11.597px;
    font-weight: 600;
}

.functional .personal-details .details h3 {
    font-size: 6.05px;
    font-weight: 400;
}

.functional .personal-details .seperator {
    background-color: white;
    height: 0.504px;
    width: 75.63px;
    border: 0;
    padding: 0 !important;
}

.functional .personal-details .details p {
    font-size: 4.538px;
    margin-top: 1.261px;
    font-weight: 400;
}


/* details left  part 2*/


/* contact details  left part 1*/

.functional .contact-details * {
    padding: 0;
    margin: 0;
    border: 0;
}

.functional .contact-details {
    margin: 1.008px 0 2.521px 12.605px;
    padding: 0 0 3.529px;
    font-size: 4.034px;
    color: #479099;
}

.functional .contact-details p {
    color: black;
    font-weight: 500;
    line-height: 5.042px;
    font-size: 4.538px;
}

.functional .contact-details div {
    padding: 2.521px 0;
}

.functional .contact-details i {
    font-size: 2em;
}


/* skills interests languages left */

.skills *,
.languages *,
.functional .interests * {
    padding: 0;
    margin: 0;
    border: 0;
}

.skills,
.languages,
.functional .interests {
    margin: 0 0 8.067px 12.605px;
    padding: 0 0 2.521px;
}

.skills h1,
.functional .languages h1 {
    font-size: 7.059px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 1.261px;
    border-bottom: 0.504px solid #479099;
}

.skills .skills_list,
.functional .interests .interests_list {
    padding: 2.521px 0 0 0;
    margin-left: -3.782px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.functional .skills .skills_list .skill {
    padding: 0.756px 2.521px;
    border-radius: 1.513px;
    color: white;
    font-size: 4.538px;
    background-color: #479099;
    margin: 1.008px 1.261px;
}

.functional .interests h1 {
    font-size: 7.059px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 1.261px;
    border-bottom: 0.504px solid #479099;
}

.functional .interests .interests_list .interest {
    padding: 0.756px 2.521px;
    border-radius: 1.513px;
    color: black;
    font-size: 4.538px;
    margin: 1.008px 1.261px;
    border: 0.504px solid #b2b2b2;
}

.functional .languages .languages_list {
    margin-left: -3.782px;
    padding: 5.042px 0;
    width: 100%;
    font-size: 4.034px;
    font-weight: 600;
    position: relative;
}

.functional .languages .language p {
    width: 40%;
    display: inline;
    /* padding: 0 2.521px; */
}

.functional .languages .language .progress {
    position: absolute;
    right: 0;
    margin-top: 2.017px;
    width: 60%;
    display: inline-block;
    margin-left: 0.0px;
    padding-bottom: 2.521px;
    border-radius: 0;
}


/* details-right */

.functional .base * {
    padding: 0;
    margin: 0;
    border: 0;
}

.functional .base {
    margin: 0 0 8.067px 12.605px;
    padding: 0 5.042px 2.521px;
}

.functional .base>h1 {
    font-size: 7.059px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 1.261px;
    border-bottom: 0.504px solid #479099;
}


/* work */

.functional .work-experience .work {
    padding: 3.782px 0 2.521px 3.782px;
}

.functional .work-experience .work h1 {
    font-size: 6.05px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 1.261px;
}

.functional .work-experience .work h3 {
    font-size: 5.546px;
    color: #474747;
    font-weight: 700;
    padding-bottom: 1.261px;
}

.functional .work-experience .work span {
    font-size: 4.034px;
    color: #479099;
    line-height: 4.538px;
    font-style: italic;
    padding-right: 1.261px;
    padding-top: 1.261px;
}

.functional .work-experience .work p {
    color: #7c7c7c;
    font-size: 4.034px;
    padding-top: 1.261px;
}


/* school */

.functional .education .school {
    padding: 3.782px 0 2.521px 3.782px;
}

.functional .education .school h1 {
    font-size: 6.05px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 1.261px;
}

.functional .education .school h3 {
    font-size: 5.546px;
    color: #474747;
    font-weight: 700;
    padding-bottom: 1.261px;
}

.functional .education .school p {
    font-size: 4.034px;
    color: #479099;
    line-height: 4.538px;
    font-style: italic;
    padding-right: 1.261px;
    padding-top: 1.261px;
}


/* projects */

.functional .projects .project {
    padding: 3.782px 0 2.521px 3.782px;
}

.functional .projects .project h1 {
    font-size: 6.05px;
    color: #479099;
    font-weight: 700;
    padding-bottom: 1.261px;
}

.functional .projects .project h3 {
    font-size: 5.546px;
    color: black;
    font-weight: 700;
    padding-bottom: 1.261px;
}

.functional .projects .project p.date {
    font-size: 4.034px;
    color: #479099;
    line-height: 4.538px;
    font-style: italic;
    padding-right: 1.261px;
    padding-top: 1.261px;
}

.functional .projects .project p.desc {
    color: #7c7c7c;
    font-size: 4.034px;
    padding-top: 1.261px;
}