<div class="box">
    <div class="resume z-depth-3">
        <div class="row personal-details">
            <div class="col s3">
                <div class="image">
                    <img alt="image" src='../../../assets/template/profile.jpg'>
                </div>
            </div>
            <div class="col s9" style="padding:0;">
                <div class="details">
                    <h1>John Doe</h1>
                    <h3>Professional Title</h3>
                    <div class="seperator"></div>
                    <p>Short and engaging pitch about yourself.</p>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:44px; display:none;">
            <div class="col s3">
                <div class="row">
                    <div class="contact-details">
                        <div class="email">
                            <i class="material-icons">email</i><br>
                            <p>manishtanwar@gmail.com</p>
                        </div>
                        <div class="phone">
                            <i class="material-icons">call</i><br>
                            <p>+3124568798</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="skills">
                        <h1>SKILLS</h1>
                        <div class="skills_list">
                            <div class="skill">C++</div>
                            <div class="skill">Java</div>
                            <div class="skill">python</div>
                            <div class="skill">angular</div>
                            <div class="skill">C++</div>
                            <div class="skill">Java</div>
                            <div class="skill">python</div>
                            <div class="skill">angular</div>
                            <div class="skill">node.js</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="languages">
                        <h1>Languages</h1>
                        <div class="languages_list striped">
                            <div class="language">
                                <p>English</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                            <div class="language">
                                <p>Hindi</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="language">
                                <p>Punjabi</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 20%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="interests">
                        <h1>Interests</h1>
                        <div class="interests_list">
                            <div class="interest">Java</div>
                            <div class="interest">python</div>
                            <div class="interest">Java</div>
                            <div class="interest">python</div>
                            <div class="interest">Java</div>
                            <div class="interest">python</div>
                            <div class="interest">Java</div>
                            <div class="interest">python</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s9">
                <div class="row">
                    <div class="base work-experience">
                        <h1>Work Experience</h1>
                        <div class="work">
                            <h1>Title/Position</h1>
                            <h3>Workplace/Company</h3>
                            <span>Start Date</span>
                            <span>-</span>
                            <span>End Date</span>
                            <p>Short Description about your job</p>
                        </div>
                        <div class="work">
                            <h1>Title/Position</h1>
                            <h3>Workplace/Company</h3>
                            <span>Start Date</span>
                            <span>-</span>
                            <span>End Date</span>
                            <p>Short Description about your job</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="base education">
                        <h1>Education</h1>
                        <div class="list">
                            <div class="school">
                                <h1>Study Program</h1>
                                <h3>Institution/Place of Education</h3>
                                <span>Graduation Year</span>
                            </div>
                            <div class="school">
                                <h1>Study Program</h1>
                                <h3>Institution/Place of Education</h3>
                                <span>Graduation Year</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="base personal-projects">
                        <h1>Personal Projects</h1>
                        <div class="projects">
                            <div class="project">
                                <h1>Project Name</h1>
                                <span>start date</span>
                                <span>-</span>
                                <span>End Date</span>
                                <p>Description</p>
                            </div>
                            <div class="project">
                                <h1>Project Name</h1>
                                <span>start date</span>
                                <span>-</span>
                                <span>End Date</span>
                                <p>Description</p>
                            </div>
                            <div class="project">
                                <h1>Project Name</h1>
                                <span>start date</span>
                                <span>-</span>
                                <span>End Date</span>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>