<form [formGroup]="educationForm" (ngSubmit)="addData()">
    <section class="base">
        <div class="container">
            <h1>Great, let’s work on your education</h1>
            <p>Include every school, even if you're still there or didn't graduate.</p>
            <div class="row">
                <div class="col s8">
                    <div class="row form">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="job_title" type="text" class="validate" formControlName="schoolName" placeholder="School Name">
                                </div>
                                <div class="input-field col s6">
                                    <input id="location" type="text" class="validate" formControlName="location" placeholder="Location">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="degree" type="text" class="validate" formControlName="degree" placeholder="Degree">
                                </div>
                                <mz-select-container>
                                    <div class="input-field col s4">
                                        <select mz-select [label]="'Graduation Year'" formControlName="year">
                                        <option value=""  selected>Select Year</option>
                                      <option value="{{ year }}" *ngFor="let year of year_list" >{{ year }}</option>
                                    </select>
                                    </div>
                                </mz-select-container>
                            </div>
                            <div class="row">
                                <div class="input-field col s9">
                                    <textarea id="textarea1" class="materialize-textarea" length="120" formControlName="description" placeholder="Short Description"></textarea>
                                </div>
                                <div class="col s3">
                                    <div class="preview-button">
                                        <button type="submit" style="padding-top:0.4em;">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <app-data-slider [data]='education' [isEdit]='isEdit' (editMe)='editMe($event)' (deleteMe)='deleteMe($event)' (move)="reorder($event)"></app-data-slider>
                    </div>
                </div>
                <div class="col s4">
                    <div class="preview">
                        <app-preview-template [flag]="flag" [location]="'preview'"></app-preview-template>
                    </div>
                    <div class="preview-button">
                        <button (click)="bottomSheetModal.openModal()" type="button" name="action">Preview
                                <i class="material-icons left">remove_red_eye</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="navigation-back" *ngIf="!flag">
        <a class="btn-floating btn-large waves-effect waves-light teal" [routerLink]="['/resume','work-history']"><i class="material-icons">home</i></a>
    </div>

    <div class="navigation-next">
        <button button="button" class="waves-effect pulse btn-large green" (click)="nextRoute()"><i class="material-icons right">arrow_forward</i>Next</button>
    </div>
</form>


<!-- template -->
<mz-modal #bottomSheetModal [bottomSheet]="true" [fullscreen]=true style="background-color:white">
    <mz-modal-header>
        <button mz-button [flat]="true" mz-modal-close style="position: fixed;top:0;right:0;cursor:pointer;margin:20px 50px;">
            <i class="material-icons">close</i>
        </button>
    </mz-modal-header>
    <mz-modal-content>
        <app-template [flag]="flag"></app-template>
    </mz-modal-content>
</mz-modal>