<form [formGroup]="educationForm">
    <section class="base">
        <div class="container">
            <h1>Great, let’s work on your education</h1>
            <p>Include every school, even if you're still there or didn't graduate.</p>
            <div class="row">
                <div class="col s8">
                    <div class="row form">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="job_title" type="text" class="validate" formControlName="schoolName" placeholder="School Name">
                                    <!-- <label for="job_title">School Name</label> -->
                                </div>
                                <div class="input-field col s6">
                                    <input id="location" type="text" class="validate" formControlName="location" placeholder="Location">
                                    <!-- <label for="location">Location</label> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="degree" type="text" class="validate" formControlName="degree" placeholder="Degree">
                                    <!-- <label for="degree">Degree</label> -->
                                </div>
                                <mz-select-container>
                                    <div class="input-field col s4">
                                        <select mz-select [label]="'Graduation Year'" formControlName="year">
                                        <option value=""  selected>Select Year</option>
                                      <option value="{{ year }}" *ngFor="let year of year_list" >{{ year }}</option>
                                    </select>
                                    </div>
                                </mz-select-container>
                            </div>
                            <div class="row">
                                <div class="input-field col s9">
                                    <textarea id="textarea1" class="materialize-textarea" length="120" formControlName="description" placeholder="Short Description"></textarea>
                                    <!-- <label for="description">Short Description</label> -->
                                </div>
                                <div class="col s3">
                                    <div class="preview-button">
                                        <button type="submit" *ngIf="isEdit==null" (click)="addData()" [disabled]="educationForm.invalid">Add More</button>
                                        <button type="submit" *ngIf="isEdit!=null" (click)="saveData()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <app-data-slider [storedData]="education" [isEdit]="isEdit!=null?true:false" (deleteMe)="deleteMe($event)" (editMe)="editMe($event)"></app-data-slider>
                    </div>
                </div>
                <div class="col s4">
                    <div class="preview">
                        <app-preview-template></app-preview-template>
                    </div>
                    <div class="preview-button">
                        <button type="button" name="action">Preview
                                <i class="material-icons left">remove_red_eye</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="navigation-back">
        <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/resume','work-history']"><i class="material-icons">arrow_back</i></a>
    </div>

    <div class="navigation-next">
        <button class="waves-effect pulse btn-large green" [routerLink]="['/resume','projects']" [disabled]="education.length<1"><i class="material-icons right">arrow_forward</i>Next</button>
    </div>
</form>