/* .container-fluid{
    background-image: url('https://cdn-images.zety.com/images/common/patterns/triangles-400.jpg');
    background-size: 40.2rem 40.2rem;
    color: white;
    width: 100%;
    height: 250px;
}
.content{
    text-align: center;
    padding: 25px;
}
img{
    
    height:100%;
    width:100%;
}

.col-md-3{
    padding:0;
    height: 300px;
    width: 300px;
    margin: 0 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:black;
}
.col-md-3 button{
    position: absolute;
    
    display:none;
    background-color: #e44747;
    border-radius: 100px;
    color: white;
    border-radius: solid 1px #e44747; 
}
.col-md-3 img:hover{
    opacity:0.3;
}
.col-md-3:hover button{
    display: block;
} */


.content{
    text-align: center;
    padding: 25px;
    
    /* border:1px solid red; */
}
.container-fluid{
background: linear-gradient(to right,#242d33,#30bcad);
    width: 100%;
    color: #FFF;
    padding-bottom: 2.5rem;
    overflow: hidden;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 10px solid #30bcad;
    /* font-family: 'Asap', sans-serif; */
}
h1{
    font-size: 24px;
    margin-bottom: 15px;
}
p{
    font-size: 18px;
    margin-bottom: 10px;
}
.offer{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    margin:10px 15px;
}
b{
    background-color: #ffd43b;
    color: black;
    border-radius: 2px;
    padding: 1px;
}
container{
    background-color: #f4f4f4
}
img{
    
    height:100%;
    width:100%;
}

.col-md-3{
    padding:0;
    height: 300px;
    width: 300px;
    margin: 0 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:black;
    
}
.col-md-3 button{
    position: absolute;
    
    display:none;
    background-color: #242d33;
    border-radius: 100px;
    color: white;
    border-radius: 3px; 
}
.col-md-3 img:hover{
    opacity:0.3; 
    box-shadow: #242d33; 
    cursor: pointer;  
}
.col-md-3:hover button{
    display: block;
} 
.filters{
    width: 100%;
    height: 150px;
    border: 2px solid #30bcad;
    background-color: #30bcad;
}