<form [formGroup]="basicInformationForm" (ngSubmit)="saveData()">
    <section class="base">
        <div class="container">
            <h1>Tell me something about yourself?</h1>
            <p>We suggest including an email and phone number.</p>
            <div class="row">
                <div class="col s8">
                    <div class="row form ">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" class="validate" formControlName="firstName" placeholder="First Name" (input)="saveData()">
                                    <!-- <label for="first_name">First Name</label> -->
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate" formControlName="lastName" placeholder="Last Name" (input)="saveData()">
                                    <!-- <label for="last_name">Last Name</label> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="professional_title" type="text" class="validate" formControlName="title" placeholder="Professional Title" (input)="saveData()">
                                    <!-- <label for="street_address">Street Address</label> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="pitch" type="text" class="validate" formControlName="pitch" placeholder="Short and engaging pitch about yourself" (input)="saveData()">
                                    <!-- <label for="state">State/Province</label> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5">
                                    <input id="phone" type="text" class="validate" formControlName="phone" placeholder="Phone" (input)="saveData()">
                                    <!-- <label for="phone">Phone</label> -->
                                </div>
                                <div class="input-field col s7">
                                    <input id="email" type="text" class="validate" formControlName="email" placeholder="Email Address" (input)="saveData()" email>
                                    <!-- <label for="email">Email Address</label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="preview">
                        <app-preview-template></app-preview-template>
                        <ng-content></ng-content>
                    </div>
                    <div class="preview-button">
                        <button type="submit" name="action">Preview
                        <i class="material-icons left">remove_red_eye</i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="navigation-back">
        <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/dashboard']"><i class="material-icons">arrow_back</i></a>
    </div>

    <div class="navigation-next">
        <button type='submit' class="waves-effect pulse btn-large green" [routerLink]="['/resume','work-history']" ><i class="material-icons right">arrow_forward</i>Next</button>
        <!-- <button type='submit' class="waves-effect pulse btn-large green"  [disabled]="!basicInformationForm.valid"><i class="material-icons right">arrow_forward</i>Next</button> -->
    </div>
</form>