<form [formGroup]="basicInformationForm">
    <section class="base">
        <div class="container">
            <h1>Tell me something about yourself?</h1>
            <p>We suggest including an email and phone number.</p>
            <div class="row">
                <div class="col s8">
                    <div class="row form ">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" class="validate" formControlName="firstName" placeholder="First Name" (input)="update()">
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate" formControlName="lastName" placeholder="Last Name" (input)="update()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="professional_title" type="text" class="validate" formControlName="title" placeholder="Professional Title" (input)="update()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="pitch" type="text" class="validate" formControlName="pitch" placeholder="Short and engaging pitch about yourself" (input)="update()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5">
                                    <input id="phone" type="text" class="validate" formControlName="phone" placeholder="Phone" (input)="update()">
                                </div>
                                <div class="input-field col s7">
                                    <input id="email" type="text" class="validate" formControlName="email" placeholder="Email Address" email (input)="update()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="preview">
                        <app-preview-template [flag]="flag" [location]="'preview'"></app-preview-template>
                    </div>
                    <div class="preview-button">
                        <button (click)="bottomSheetModal.openModal()" type="button" name="action">Preview
                                    <i class="material-icons left">remove_red_eye</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="navigation-back" *ngIf="!this.flag">
        <a class="btn-floating btn-large waves-effect waves-light teal" [routerLink]="['/dashboard']"><i class="material-icons">home</i></a>
    </div>

    <div class="navigation-next">
        <button type='submit' class="waves-effect pulse btn-large green" (click)="nextRoute()"><i class="material-icons right">arrow_forward</i>Next</button>
    </div>
</form>


<!-- template -->
<mz-modal #bottomSheetModal [bottomSheet]="true" [fullscreen]=true style="background-color:white">
    <mz-modal-header>
        <button mz-button [flat]="true" mz-modal-close style="position: fixed;top:0;right:0;cursor:pointer;margin:20px 50px;">
            <i class="material-icons">close</i>
        </button>
    </mz-modal-header>
    <mz-modal-content>
        <app-template [flag]="flag"></app-template>
    </mz-modal-content>
</mz-modal>