<nav>
    <div class="nav-wrapper red">
        <img class='logo' src='../../../favicon.ico'>
        <a href="#!" class="brand-logo">riˈzo͞om</a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="!authService.loggedIn()" routerLink="/login"><a>Login</a></li>
            <li *ngIf="!authService.loggedIn()" routerLink="/signup"><a>Register</a></li>
            <li *ngIf="authService.loggedIn()" (click)='authService.logout()'><a><i class="material-icons">exit_to_app</i></a></li>
        </ul>
    </div>
</nav>