<div class=" slider" *ngIf='storedData.length'>
    <div class="row">
        <div class="col s1 nav">
            <i class="large material-icons" *ngIf="currentItem>0" (click)="back()">arrow_back</i>
        </div>
        <div class="col s10">
            <div class="data">
                <div class="tag">
                    <p>{{ currentItem + 1 }}</p>
                </div>
                <div class="row">
                    <div class="col s8">
                        <div class="information">
                            {{ storedData[currentItem]?.schoolName | titlecase }} {{ storedData[currentItem]?.projectName | titlecase }} {{ storedData[currentItem]?.job_title}}
                        </div>
                    </div>
                    <div class="col s1 offset-s2">
                        <i class="material-icons">mode_edit</i>
                    </div>
                    <div class="col s1">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s1 nav">
            <i class="large material-icons" *ngIf="storedData.length - 1 > currentItem" (click)="next()">arrow_forward</i>
        </div>
    </div>
</div>