@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
.slider {
    width: 100%;
    height: 250px;
    overflow: auto;
}


/* data */

.row {
    margin: 0;
}

.data {
    border: 1px solid #b8b8b8;
    position: relative;
    padding: 15px;
}

.data i {
    color: #b7b7b7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data i:hover {
    color: #266cb4;
}

.data .information {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #58585f;
    font-weight: 600;
}