<div class=" slider" *ngIf='data.length'>
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="data" *ngFor="let entry of data;let i=index">
                <div class="row">
                    <div class="col s8">
                        <div class="information" *ngIf="entry?.schoolName">
                            {{ entry?.degree | titlecase }}, {{ entry?.schoolName | titlecase }}
                        </div>
                        <div class="information" *ngIf="entry?.projectTitle">
                            {{ entry?.projectTitle | titlecase }}
                        </div>
                        <div class="information" *ngIf="entry?.job_title">
                            {{ entry?.job_title}}, {{ entry?.employer}}
                        </div>
                    </div>
                    <div class="col s1 offset-s2">
                        <i class="material-icons" (click)="onEdit(i)" *ngIf="!isEdit">mode_edit</i>
                    </div>
                    <div class="col s1">
                        <i class="material-icons" (click)="onDelete(i)" *ngIf="!isEdit">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>