.fa {
  
    padding: 2em;
    font-size: 20px;
    color: #9e9e9e;

  }
  .container-fluid{
      height: 100px;
      background-color: #3c4d58; 
      text-align: center;   
  }
  .fa-facebook:hover{
      color: #4267b2;
  }
  .fa-linkedin:hover{
    color: #4267b2;
  }
  .fa-twitter:hover{
      color:#1da1f2;
  }