<section class="functional">
    <kendo-pdf-export #pdf paperSize="A2">
        <section class="resume z-depth-3">
            <!-- basic information -->
            <div class="basic_information">
                <div class="heading">
                    <h1 *ngIf="!resume?.basicInformation.firstName">Manish Tanwar</h1>
                    <h1 *ngIf="resume?.basicInformation.firstName || resume?.basicInformation.lastName">
                        {{ resume?.basicInformation.firstName|titlecase }} {{ resume?.basicInformation.lastName|titlecase }}
                    </h1>
                    <h3 *ngIf="!resume?.basicInformation.title">Professional Title</h3>
                    <h3 *ngIf="resume?.basicInformation.title">{{ resume?.basicInformation.title|titlecase }}</h3>
                    <p *ngIf="!resume?.basicInformation.pitch">Short and engaging pitch about yourself</p>
                    <p *ngIf="resume?.basicInformation.pitch">{{ resume?.basicInformation.pitch |titlecase}}</p>
                </div>
                <div class="contact_details">
                    <!-- email -->
                    <a *ngIf="!resume?.basicInformation.email">
                        <img src="../../../assets/template/email.png"> manishkumar9999@gmail.com
                    </a>
                    <a *ngIf="resume?.basicInformation.email">
                        <img src="../../../assets/template/email.png"> {{ resume?.basicInformation.email }}
                    </a>
                    <!-- phone -->
                    <a *ngIf="!resume?.basicInformation.phone">
                        <img src="../../../assets/template/phone.png"> +91-8168686868
                    </a>
                    <a *ngIf="resume?.basicInformation.phone">
                        <img src="../../../assets/template/phone.png">{{ resume?.basicInformation.phone }}
                    </a>
                </div>
                <div class="edit">
                    <i class="material-icons" (click)="goTo('basic-information')">create</i>
                </div>
            </div>
            <!-- resume body -->
            <div class="row">
                <div class="col s6">
                    <!-- left side -->
                    <!-- work experience -->
                    <div class="row">
                        <div class="col s12">
                            <!-- if work history present -->
                            <div class="base" *ngIf="resume?.workHistory">
                                <h1>WORK EXPERIENCE</h1>
                                <div class="entry" *ngFor="let work of resume?.workHistory">
                                    <h1 *ngIf="work?.job_title">{{ work?.job_title|titlecase }}</h1>
                                    <h3 *ngIf="work?.employer">{{ work?.employer |titlecase}}</h3>
                                    <span *ngIf="work?.start_day">{{ work?.start_day}}/</span>
                                    <span *ngIf="work?.start_month">{{ work?.start_month }}/</span>
                                    <span *ngIf="work?.start_year">{{ work?.start_year }} - </span>
                                    <span *ngIf="work?.end_day">{{ work?.end_day }}/</span>
                                    <span *ngIf="work?.end_month">{{ work?.end_month }}/</span>
                                    <span *ngIf="work?.end_year">{{ work?.end_year }}</span>
                                    <p *ngIf="work?.description">{{ work?.description |titlecase}}</p>
                                </div>
                                <div class="edit">
                                    <i class="material-icons" (click)="goTo('workHistory')">create</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- education -->
                    <div class="row">
                        <div class="col s12">
                            <div class="base" *ngIf="resume?.education">
                                <h1>Education</h1>
                                <div class="entry" *ngFor="let school of resume?.education">
                                    <h1 *ngIf="school?.schoolName">{{ school?.schoolName |titlecase}} <span *ngIf="school?.location">| {{school?.location|titlecase}}</span></h1>
                                    <h3 *ngIf="school?.degree">{{ school?.degree|titlecase }}</h3>
                                    <span *ngIf="school?.start_day">{{ school?.start_day}}/</span>
                                    <span *ngIf="school?.start_month">{{ school?.start_month }}/</span>
                                    <span *ngIf="school?.start_year">{{ school?.start_year }} - </span>
                                    <span *ngIf="school?.end_day">{{ school?.end_day }}/</span>
                                    <span *ngIf="school?.end_month">{{ school?.end_month }}/</span>
                                    <span *ngIf="school?.end_year">{{ school?.end_year }}</span>
                                    <p *ngIf="school?.description">{{ school?.description|titlecase }}</p>
                                </div>
                                <div class="edit">
                                    <i class="material-icons" (click)="goTo('education')">create</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- interests -->
                    <div class="row">
                        <div class="col s12">
                            <div class="base" *ngIf="resume?.interests">
                                <h1>INTERESTS</h1>
                                <!-- interests here -->
                                <div class="list">
                                    <div class="entry interest" *ngFor="let interest of resume?.interests">{{ interest | titlecase }}</div>
                                </div>
                                <div class="edit">
                                    <i class="material-icons" (click)="goTo('interests')">create</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- right side -->
                <div class="col s6">
                    <!-- personal projects -->
                    <div class="row">
                        <div class="col s12">
                            <div class="base" *ngIf="resume?.projects">
                                <h1>PERSONAL PROJECTS</h1>
                                <div class="entry" *ngFor="let project of resume?.projects">
                                    <h1 *ngIf="project?.projectTitle">{{ project?.projectTitle|titlecase }}</h1>
                                    <span *ngIf="project?.start_day">{{ project?.start_day}}/</span>
                                    <span *ngIf="project?.start_month">{{ project?.start_month }}/</span>
                                    <span *ngIf="project?.start_year">{{ project?.start_year }} - </span>
                                    <span *ngIf="project?.end_day">{{ project?.end_day }}/</span>
                                    <span *ngIf="project?.end_month">{{ project?.end_month }}/</span>
                                    <span *ngIf="project?.end_year">{{ project?.end_year }}</span>
                                    <p *ngIf="project?.description">{{ project?.description|titlecase }}</p>
                                </div>
                                <div class="edit">
                                    <i class="material-icons" (click)="goTo('projects')">create</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- skills -->
                    <div class="row">
                        <div class="col s12">
                            <div class="base" *ngIf="resume?.skills">
                                <h1>SKILLS</h1>
                                <!-- skills here -->
                                <div class="list">
                                    <div class="entry skill" *ngFor="let skill of resume?.skills">{{ skill | titlecase }}</div>
                                </div>
                                <div class="edit">
                                    <i class="material-icons" (click)="goTo('skills')">create</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- languages -->
                    <div class="row">
                        <div class="col s12">
                            <div class="base" *ngIf="resume?.languages">
                                <h1>LANGUAGES</h1>
                                <!-- languages here -->
                                <div class="languages">
                                    <div class="language" *ngFor="let language of resume?.languages">
                                        <p>{{ language.language | titlecase }}</p>
                                        <div class="progress">
                                            <div class="determinate" [ngStyle]="{ 'width':language.value + '%'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit">
                                    <i class="material-icons" (click)="goTo('languages')">create</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </kendo-pdf-export>
</section>


<div class="download_button">
    <a class="btn-floating btn-large waves-effect waves-light green" kendo-button (click)="pdf.saveAs('resume.pdf')"><i class="material-icons">file_download</i></a>
</div>