h1,
h3,
p,
span,
div,
a,
i,
section {
    padding: 0;
    margin: 0;
    border: 0;
}

.download_button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 50px;
    z-index: 100;
}

.functional {
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 50px 0;
    position: relative;
}

.resume {
    max-width: 1190px;
    min-height: 1490px;
    margin: 0 auto;
    background-color: white;
    /* border: 1px solid #b7b7b7; */
}


/* basic_information */

.basic_information {
    padding-top: 44px;
    margin-bottom: 30px;
    background: #334458;
    position: relative;
}

.basic_information .heading {
    padding: 0 50px;
    margin-left: 34px;
    min-height: 160px;
}

.basic_information .heading h1 {
    color: #fff;
    font-size: 46px;
    line-height: 48px;
}

.basic_information .heading h3 {
    color: #4f90cd;
    font-size: 24px;
    line-height: 26px;
    padding-top: 6px;
}

.basic_information .heading p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin-top: 22px;
}

.basic_information .contact_details {
    background-color: #2B343F;
    text-align: center;
    padding: 22px 50px;
    padding-bottom: 16px;
}

.basic_information .contact_details a {
    color: white;
    padding-right: 34px;
    font-size: 18px;
}

.basic_information .contact_details img {
    width: 28px;
    height: 28px;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.basic_information:hover {
    border: 1px solid red;
    opacity: 0.9;
}

.basic_information:hover .edit {
    display: block;
    color: white;
}


/* body */

.base {
    background: white;
    padding: 10px 36px 10px 50px;
    margin-bottom: 34px;
    position: relative;
    /* border: 1px solid white; */
}

.base:hover {
    border: 1px solid red;
    opacity: 0.6;
}

.base:hover .edit {
    display: block;
    /* color: #b7b7b7; */
}

.base h1 {
    color: #4f90cd;
    font-weight: 800;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 4px;
    border-bottom: 4px solid #4f90cd;
    margin-bottom: 14px;
}

.base .entry {
    padding-bottom: 10px;
}

.base .entry * {
    font-weight: 0;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

.base .entry h1 {
    font-size: 24px;
    line-height: 26px;
    color: #000;
    font-weight: 700;
}

.base .entry h3 {
    font-size: 22px;
    line-height: 24px;
    color: #000;
}

.base .entry span {
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    font-style: italic;
    color: #4f90cd;
}

.base .entry p {
    font-size: 16px;
    color: #7c7c7c;
    text-align: left;
}


/* interests */

.list {
    padding: 10px 25px;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.list .entry {
    padding: 6px 14px;
    margin-right: 10px;
    margin-bottom: 14px;
    font-size: 18px;
    border-radius: 6px;
}

.interest {
    background: white;
    border: 2px solid #b7b7b7;
}

.skill {
    background: #4f90cd;
    color: white;
}


/* languages */

.languages {
    padding-top: 15px;
}

.languages .language {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #b7b7b7;
}

.languages .language p {
    font-size: 18px;
    width: 50%;
}

.languages .language .progress {
    width: 50%;
    height: 5px;
    padding: 0;
}


/* edit */

.edit {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}