<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 >What’s the best way for employers to contact you?</h1>
            <h4 >We suggest including an email and phone number.</h4>
        </div>
    </div>
<br><br><br>
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <label>Phone</label>
        <input type="number" class="form-control"><br>
        <label>Email Address</label>
        <input type="email" class="form-control">
<div class="row">
    <div class="col-12">
        <br>
        <button class="btn btn-primary">Back</button>
    </div>
</div>

    </div>
</div>

</div>