<section class="base">
    <div class="container">
        <h1>Now, tell us about your projects?</h1>
        <p>Include some of the best things you have built</p>
        <div class="row">
            <div class="col s8">
                <div class="row form">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6 ">
                                <input id="job_title" type="text" class="validate">
                                <label for="job_title">Project Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s3">
                                <!-- <input id="job_title" type="text" class="validate"> -->
                                <label for="start_day">Start Date :</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="start_day" type="number" class="validate">
                                <label for="start_day">Day</label>
                            </div>
                            <div class="input-field col s1">
                                <!-- <input id="job_title" type="number" class="validate"> -->
                                <label for="job_title" style="width:100%;text-align: center;">/</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="start_month" type="number" class="validate">
                                <label for="start_month">Month</label>
                            </div>
                            <div class="input-field col s1">
                                <!-- <input id="job_title" type="number" class="validate"> -->
                                <label for="job_title" style="width:100%;text-align: center;">/</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="start_year" type="number" class="validate">
                                <label for="start_year">Year</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s3">
                                <!-- <input id="job_title" type="text" class="validate"> -->
                                <label for="end_date">End Date :</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="end__day" type="number" class="validate">
                                <label for="end_day">Day</label>
                            </div>
                            <div class="input-field col s1">
                                <!-- <input id="job_title" type="number" class="validate"> -->
                                <label for="job_title" style="width:100%;text-align: center;">/</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="end_month" type="number" class="validate">
                                <label for="end_month">Month</label>
                            </div>
                            <div class="input-field col s1">
                                <!-- <input id="job_title" type="number" class="validate"> -->
                                <label for="job_title" style="width:100%;text-align: center;">/</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="end_year" type="number" class="validate">
                                <label for="end_year">Year</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
                                <label for="description">Short Description</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="preview">
                    <!-- preview template here -->
                </div>
                <div class="preview-button">
                    <button type="button" name="action">Preview
                                <i class="material-icons left">remove_red_eye</i>
                            </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="buttons">
                <button class="btn waves-effect waves-light red" type="button" name="action">Back
                            <i class="material-icons left">arrow_back</i>
                        </button>
                <button class="btn waves-effect waves-light green" type="button" name="action" [routerLink]="['/resume','skills']">Next
                            <i class="material-icons right">arrow_forward</i>
                        </button>
            </div>
        </div>
    </div>
</section>