<form [formGroup]="projectForm" (ngSubmit)="addData()">
    <section class="base">
        <div class="container">
            <h1>Now, tell us about your projects?</h1>
            <p>Include some of the best things you have built</p>
            <div class="row">
                <div class="col s8">
                    <div class="row form">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s6 ">
                                    <input id="job_title" type="text" class="validate" formControlName="projectTitle" placeholder="Project Title">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <label for="start_day">Start Date :</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="start_day" type="number" class="validate" formControlName="start_day" placeholder="Day" min=1 max=31>
                                </div>
                                <div class="input-field col s1">
                                    <label for="job_title" style="width:100%;text-align: center;">/</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="start_month" type="number" class="validate" formControlName="start_month" placeholder="Month" min=1 max=12>
                                </div>
                                <div class="input-field col s1">
                                    <label for="job_title" style="width:100%;text-align: center;">/</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="start_year" type="number" class="validate" formControlName="start_year" placeholder="Year" min=1950 max=2019>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <label for="end_date">End Date :</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="end__day" type="number" class="validate" formControlName="end_day" placeholder="Day" min=1 max=31>
                                </div>
                                <div class="input-field col s1">
                                    <label for="job_title" style="width:100%;text-align: center;">/</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="end_month" type="number" class="validate" formControlName="end_month" placeholder="Month" min=1 max=12>
                                </div>
                                <div class="input-field col s1">
                                    <label for="job_title" style="width:100%;text-align: center;">/</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="end_year" type="number" class="validate" formControlName="end_year" placeholder="Year" min=1950>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s9">
                                    <textarea id="textarea1" class="materialize-textarea" length="120" formControlName="description" placeholder="Short Description"></textarea>
                                </div>
                                <div class="col s3">
                                    <div class="preview-button">
                                        <button type="submit" style="padding-top:0.4em;">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <app-data-slider [data]='projects' [isEdit]='isEdit' (editMe)='editMe($event)' (deleteMe)='deleteMe($event)'></app-data-slider>
                    </div>
                </div>
                <div class="col s4">
                    <div class="preview">
                        <app-preview-template [flag]="flag" [location]="'preview'"></app-preview-template>
                    </div>
                    <div class="preview-button">
                        <button (click)="bottomSheetModal.openModal()" type="button" name="action">Preview
                                <i class="material-icons left">remove_red_eye</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="navigation-back">
        <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/resume','education']"><i class="material-icons">arrow_back</i></a>
    </div>

    <div class="navigation-next">
        <button class="waves-effect pulse btn-large green" (click)="nextRoute()"><i class="material-icons right ">arrow_forward</i>Next</button>
    </div>
</form>

<!-- template -->
<mz-modal #bottomSheetModal [bottomSheet]="true " [fullscreen]=true style="background-color:white ">
    <mz-modal-header>
        <button mz-button [flat]="true " mz-modal-close style="position: fixed;top:0;right:0;cursor:pointer;margin:20px 50px; ">
            <i class="material-icons ">close</i>
        </button>
    </mz-modal-header>
    <mz-modal-content>
        <app-template [flag]="flag"></app-template>
    </mz-modal-content>
</mz-modal>