<!-- navbar -->
<app-navbar></app-navbar>

<!-- saved resumes -->
<app-saved-resumes *ngIf="authService.loggedIn()">
    <!-- <div class="template my_content" [routerLink]="['/resume','basic-information']" [queryParams]="{'my_content':true}">
        <i class="medium material-icons">description</i>
        <h1>My Content</h1>
        <p>Place for your frequently used data</p>
    </div> -->
</app-saved-resumes>

<!-- resume templates -->

<div class="head-info z-depth-3">
    <div class="content">
        <h1>Resume Templates That Will Land You a Dream Job!</h1>
        <p class="lead">Pick a resume template below that represents your skills and work experience the best. Our<br> ATS-friendly resume templates are developed together with recruiters and employers, so<br> you are sure you are putting your best foot forward when
            applying for a job position.</p>
        <span class="offer z-depth-3">Try it. It's <span><b>free</b></span></span>
    </div>
</div>


<!-- filters  -->
<app-filters></app-filters>


<!-- resume templates -->
<div>
    <div class="row">
        <div class="template-container" id='my_id' *ngFor="let template of templates">
            <app-preview-template class="template" [template]="template" [location]="'dashboard'"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" (click)="createResume(template)">Create My Resume</button>
        </div>
    </div>
</div>