<div class="head-info z-depth-3">
    <div class="content">
        <h1>Resume Templates That Will Land You a Dream Job!</h1>
        <p class="lead">Pick a resume template below that represents your skills and work experience the best. Our<br> ATS-friendly resume templates are developed together with recruiters and employers, so<br> you are sure you are putting your best foot forward when
            applying for a job position.</p>
        <span class="offer z-depth-3">Try it. It's <span><b>free</b></span></span>
    </div>
</div>


<!-- filters  -->
<app-filters></app-filters>


<!-- resume templates -->
<div>
    <div class="row">
        <div class="template-container" id='my_id'>
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class=" template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class=" template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>

        <div class="col template-container" id='my_id'>
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="col template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="col template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="col template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="col template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="col template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="col template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
        <div class="col template-container">
            <app-preview-template class="template"></app-preview-template>
            <button class="btn waves-effect waves-light red" type="button" name="action" [routerLink]="['/resume','basic-information']">Create My Resume</button>
        </div>
    </div>
</div>