.head-info {
    background-color: #673ab7;
    width: 100%;
    color: #FFF;
    padding-bottom: 2.5rem;
    overflow: hidden;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    text-align: center;
    padding: 25px;
}

.content h1 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}

.content p {
    font-size: 18px;
    margin-bottom: 10px;
}

.offer {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    margin: 20px 15px;
    background-color: white;
    padding: 8px 15px;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
}

.offer span b {
    background-color: teal;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
}


/* filters */

.template-filters .filters {
    width: 100%;
    height: 150px;
    background-color: #b71c1c;
    border: 1px solid #b71c1c;
    margin-bottom: 50px;
}


/* resume templates */

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* max-width: 1800px; */
    padding: 0 50px;
}

.template-container {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: black;
    margin: 50px 40px;
}

.template {
    width: 100%;
    height: 100%;
}

.template-container button {
    position: absolute;
    letter-spacing: 1.5px;
    font-weight: 600;
    display: none;
}

.template-container:hover button {
    display: block;
}